.bg-body-tertiary {
  background-color: #663300 !important;
}
.custom-navbar {
  background-color: #663300 !important;
}


.navbar-brand {
  color: white !important;
  font-size: 20px;
}

.nav-link {
  color: white !important;
}

.nav-dropdown {
  color: white !important;
}

.nav-dropdown-item {
  color: black !important;
}

.nav-dropdown-item:hover,
.nav-dropdown-item.active {
  background-color: #c0c0c0;
}

.nav-perfil,
.nav-loguot {
  color: white;
}

.nav-perfil:hover,
.nav-loguot:hover {
  color: #f8f9fa;
}

.navbar-logo {
width: 80px; 
height: auto;
margin-right: 20px;
margin-left: 0;
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
border-color: white !important;
border-width: 2px;
border-style: solid;
border-radius: 4px;
}

.custom-toggler .navbar-toggler {
border-color: white !important;
border-width: 2px;
border-style: solid;
border-radius: 4px;
}
.centered-modal-title {
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column; /* Alinea las opciones en una columna */
    align-items: flex-start; /* Alinea las opciones al lado izquierdo */
  }

  .nav {
    width: 100%;
  }

  
  .nav .nav-loguot {
     /* Espacio superior entre las opciones principales y las de perfil/cerrar sesión */
  }

  .nav .nav-perfil {
    border-top: 1px solid #f8f9fa; /* Línea divisoria opcional */
    padding-top: 10px;
    margin-top: 25px;
  }

  .nav .nav-loguot {
    border-top: none; /* Eliminar línea si no se desea */
    padding-top: 0;
  }

  /* Ajustes opcionales para que los enlaces ocupen todo el ancho */
  .nav-link, .nav-perfil, .nav-loguot {
    width: 100%; /* Ocupa todo el ancho disponible */
    text-align: left; /* Alinea el texto a la izquierda */
  }

  /* Opcional: Puedes reducir el tamaño de la fuente en móviles */
  .nav-link, .nav-perfil, .nav-loguot {
    font-size: 16px; /* Ajusta el tamaño de la fuente según tu preferencia */
  }
}