.listado-categorias-container {
  width: 80%; /* Ajusta el ancho según lo necesites */
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 35px;
  position: relative;
}

.listado-categorias-header {
  width: 100%; /* Ahora coincide con el ancho del contenedor */
  height: 75px;
  background-color: #663300;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  margin-bottom: 25px;
}

.listado-categorias-lista{
  margin-bottom: 25px;
}
