.listado-mesas {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 35px;
  }
  
  .listado-mesas-header {
    text-align: center;
    background-color: #663300 !important;
    padding: 10px;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
  }
  
  .listado-mesas-title {
    margin: 0;
  }
  
  .listado-mesas-table {
    width: 100%;
  }
  
  .listado-mesas-table-header {
    text-align: center;
  }
  
  .listado-mesas-table-cell {
    text-align: center;
  }
  
  .listado-mesas-button-eliminar {
    background-color: #DC3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .listado-mesas-button-eliminar:hover {
    opacity: 0.8;
  }
  
  .alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .confirmation-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
  }
  
  .confirmation-container p {
    margin-bottom: 10px;
  }
  
  .confirmation-button-yes,
  .confirmation-button-no {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
  }
  
  .confirmation-button-yes {
    background-color: #DC3545;
    color: #fff;
    border: none;
  }
  
  .confirmation-button-no {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .confirmation-button-yes:hover,
  .confirmation-button-no:hover {
    opacity: 0.8;
  }
  