.listado-ventas-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 35px;
}

.listado-ventas-header {
  text-align: center;
  background-color: #663300 !important;
  padding: 10px;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
  width: 100%; /* Asegura que el encabezado ocupe todo el ancho disponible */
  position: sticky; /* Hace que el encabezado se mantenga fijo en la parte superior */
  top: 0; /* Asegura que el encabezado siempre esté pegado arriba */
  z-index: 1; /* Asegura que esté por encima del contenido de la tabla */
}

.listado-ventas-table {
  width: 100%;
}

.listado-ventas-table th,
.listado-ventas-table td {
  text-align: center;
}

@media (max-width: 767px) {
  .listado-ventas-container {
    overflow-x: auto; /* Habilita el scroll horizontal en dispositivos móviles */
  }

  .listado-ventas-header {
    width: 100%; /* Ajusta el ancho del encabezado para ocupar todo el espacio */
    left: 0; /* Asegura que el encabezado esté alineado a la izquierda */
  }
}
