/* Estilos para el formulario de pedidos */
.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Asegura que el formulario esté por encima del carrusel de mesas */
  width: 100%; /* Ancho del formulario del 80% del contenedor */
  margin-top: 20px; /* Margen superior */
  position: relative;
  margin-left: auto; /* Centrar horizontalmente */
  margin-right: auto; /* Centrar horizontalmente */
  display: flex;
  justify-content: center; /* Centrar en el eje principal */
}

/* Estilos adicionales para el formulario de pedidos */
.form-container h2 {
  margin-top: 0; /* Elimina el margen superior predeterminado */
  margin-bottom: 20px; /* Añade espacio entre el título y el contenido */
}

/* Estilos para el container principal */
.container-principal {
  margin: 20px;
  background-color: #CFAF86;
  padding: 20px;
}

/* Estilos para el container del carousel */
.carousel-container {
  max-width: 70%; /* Ancho máximo del carrusel del 70% de la pantalla */
  margin: 0 auto;
  overflow: hidden;
}

/* Estilos para las tarjetas de mesa */
.table-card {
  border: 1px solid transparent; /* Borde transparente */
  padding: 20px;
  text-align: center;
  background-color: transparent; /* Fondo transparente */
  border-radius: 8px;
  margin: 10px;
  position: relative;
}

/* Estilos para el contenedor del círculo y el icono */
.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el círculo */
.circle {
  width: 50px; /* Tamaño del círculo */
  height: 50px; /* Tamaño del círculo */
  border-radius: 50%;
  background-color: transparent; /* Fondo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto 10px;
}

/* Estilos para el icono de la mesa */
.table-icon {
  width: 80px; /* Tamaño del ícono de mesa */
  height: 80px; /* Tamaño del ícono de mesa */
  fill: #333;
  margin-top: -25px; /* Ajusta según sea necesario para alinear con el círculo */
}

/* Media Query para dispositivos móviles */
@media only screen and (max-width: 768px) {
  /* Ajustes adicionales para dispositivos móviles si es necesario */
}