/* Estilos generales para el contenedor principal */
.container-principal {
  margin: 20px;
  background-color: #CFAF86;
  padding: 20px;
}

/* Estilos para el contenedor del carrusel */
.carousel-container {
  max-width: 70%; /* Ocupa el ancho completo del contenedor */
  margin: 0 auto;
  overflow: hidden;
}

/* Estilos para las tarjetas de mesa */
.table-card {
  border: 1px solid transparent;
  padding: 20px; /* Ajusta el padding para pantallas de PC */
  text-align: center;
  background-color: transparent;
  border-radius: 8px;
  margin: 5px;
  position: relative;
}

/* Estilos para el contenedor del círculo y el icono */
.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el círculo */
.circle {
  width: 50px; /* Tamaño del círculo para pantallas grandes */
  height: 50px; /* Tamaño del círculo para pantallas grandes */
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto 10px;
}

/* Estilos para el icono de la mesa */
.table-icon {
  width: 80px; /* Tamaño del ícono de mesa para pantallas grandes */
  height: 80px; /* Tamaño del ícono de mesa para pantallas grandes */
  fill: #333;
  margin-top: -20px; /* Ajuste según sea necesario */
}

/* Estilos adicionales para el formulario de pedidos */
.form-container {
  background-color: white;
  padding: 20px; /* Ajusta el padding para pantallas grandes */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 80%; /* Ancho del formulario del 80% del contenedor */
  margin-top: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

/* Oculta los puntos de navegación del carrusel en todos los tamaños de pantalla */
.slick-dots {
  display: none !important; /* Asegura que los puntos de navegación no aparezcan en ningún caso */
}

/* Media Query para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .container-principal {
    margin: 10px;
    background-color: #CFAF86;
    padding: 10px;
  }

  .form-container {
    width: 100%; /* Ancho del formulario del 80% del contenedor */
  }

  .carousel-container {
    max-width: 100%; /* Ocupa el ancho completo del contenedor */
  }

  .table-card {
    padding: 10px; /* Ajusta el padding para móviles */
  }

  .circle {
    width: 40px; /* Tamaño del círculo para móviles pequeños */
    height: 40px; /* Tamaño del círculo para móviles pequeños */
  }

  .table-icon {
    width: 60px; /* Tamaño del ícono de mesa para móviles pequeños */
    height: 60px; /* Tamaño del ícono de mesa para móviles pequeños */
    margin-top: -15px;
  }
}

/* Estilos específicos para tablets */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container-principal {
    margin: 10px;
    background-color: #CFAF86;
    padding: 10px;
  }

  .form-container {
    width: 100%; /* Ancho del formulario del 80% del contenedor */
  }

  .carousel-container {
    max-width: 95%; /* Ancho máximo del carrusel para tablets */
  }

  .table-card {
    padding: 18px; /* Ajusta el padding para tablets */
  }

  .circle {
    width: 45px; /* Tamaño del círculo para tablets */
    height: 45px; /* Tamaño del círculo para tablets */
  }

  .table-icon {
    width: 80px; /* Tamaño del ícono de mesa para tablets */
    height: 80px; /* Tamaño del ícono de mesa para tablets */
    margin-top: -15px;
  }
}