.home-admin-container {
<<<<<<< HEAD
  width: 90%; /* Reducir el ancho en dispositivos móviles */
  max-width: 300px; /* Establecer un ancho máximo para mantener el tamaño de la tarjeta */
  margin: 50px auto 0; /* Agregar un margen superior y centrar horizontalmente */
  position: relative; /* Cambiar la posición a relativa para que la imagen fluya dentro del contenedor */
}

.logo-image {
  width: 100%; /* Establece que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Altura automática según el ancho */
  display: block; /* Asegura que la imagen se comporte correctamente */
}
=======
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; 
    height: auto; 
    overflow: hidden; 
    background-color: white; 
  
  }
  
  .logo-image {
    width: 100%; 
    height: auto; 
    display: block; 
  }
  
 
  @media only screen and (max-width: 767px) {
    .home-admin-container {
      width: 90%;
      max-width: 300px;
    }
  
    .logo-image {
      height: 100%; /* Ajusta la altura al 100% del contenedor */
      width: auto; /* Mantén el ancho original */
      object-fit: cover; /* Recorta la imagen para que se ajuste al contenedor manteniendo la proporción */
    }
  }
>>>>>>> 29a65fa4b71c4902e6a0f994715f13ccfd88b0e9
