.pedidos-mesero-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 35px;
}

.listado-productos-container {
  padding: 20px;
}

.listado-productos-header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #a85418;
  padding: 10px;
  color: #fff;
}

.listado-productos-input {
  width: 100%;
  padding: 10px;
}

.listado-productos-scroll-container {
  overflow-x: auto; 
}

.listado-productos-table {
  width: 100%;
}

.listado-productos-table th,
.listado-productos-table td {
  text-align: center;
}

.listado-productos-button {
  width: 120px;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.listado-productos-button-update {
  background-color: #21b55f !important; 
}

.pedidos-mesero-container .btn-quitar {
  background-color: #DC3545 !important; /* Color rojo */
  color: #fff; /* Texto blanco */
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.pedidos-mesero-container .btn-crear {
  background-color: #28a745 !important; /* Color verde */
  color: #fff; /* Texto blanco */
 
}

.pedidos-mesero-container .btn-modificar {
  color: #fff; /* Texto blanco */
}

.text-center {
  text-align: center;
}

.text-danger {
  color: #dc3545;
}

.text-danger.mt-3 {
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Agrega margen en la parte inferior del contenedor de botones */
}

.btn-container-crearpedido {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Agrega margen en la parte inferior del contenedor de botones */
}

.btn-modificar {
  margin-right: 10px; /* Agrega un margen derecho al botón Modificar */
}

.pedidos-mesero-container .btn-generar {
  width: 150px; /* Ajusta el ancho según sea necesario */
}

.listado-productos-scroll-container {
  overflow-y: auto;
  max-height: 300px; /* ajusta la altura máxima según sea necesario */
}

.listado-productos-table-container {
  width: 100%;
}
